body {
  font-family: "Lucida Sans", monospace;
  background-color: gray;
}
section {
  border: 5px solid white;
  background-color: gray;
  opacity: 0.9;
  color: greenyellow;
  width: 50%;
  margin: 80px auto 0 auto;
  border-radius: 5px;
  padding: 1rem 1rem;
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
  position: relative;
}
li {
  padding: 0.5rem;
  cursor: pointer;
  border: 5px solid white;
  font-size: 1.5rem;
}
li:hover {
  border: 5px solid blue;
}
li span {
  color: red;
}
#miscompras li {
  display: inline-block;
}
#miscompras {
  min-height: 240px;
}
h1 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
h2 {
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem;
  font-weight: 400;
}
#yenes {
  color: red;
  font-size: 3rem;
}
